<main class="contact-container">
  <h2>Redes sociais</h2>

  <div class="container-img">
    <a href="mailto:vytorgabriel123v@gmail.com">
      <img src="../../../assets/img/gmail.svg" alt="Imagem do email" />
      <span>Email</span>
    </a>

    <a
      href="https://github.com/sTrkalec?tab=repositories"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="../../../assets/img/github.svg" alt="Imagem do github" />

      <span>Github</span>
    </a>

    <a
      href="https://github.com/sTrkalec?tab=repositories"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="../../../assets/img/linkedin.svg" alt="Imagem do linkedin" />

      <span>Linkedin</span>
    </a>
  </div>

  <footer style="text-align: center">
    Desenvolvido por <span style="font-weight: bold">Gabriel Miranda</span>
  </footer>
</main>
