<main class="main-container">
  <div class="container-info">
    <h2 class="title-professions">Software engineer</h2>
    <h1 class="title-name">Gabriel Miranda</h1>
    <p>
      {{ bio }}
    </p>
    <button class="button-curriculo">
      <a
        href="../../../assets/cv/cv.pdf"
        target="_blank"
        rel="noopener noreferrer"
      >
        Download CV
      </a>
    </button>
  </div>
  <div class="image-container">
    <img src="assets/img/logo.svg" alt="Hero" />
  </div>
</main>
