<main class="about-me-container">
  <h2>Sobre mim</h2>

  <div class="border">
    <p>
      Me chamo Gabriel Miranda, tenho 22 anos e sou um entusiasta do
      desenvolvimento desde 2020. Ao longo da minha jornada, adquiri experiência
      como fullstack, explorando diversas tecnologias e aprimorando minhas
      habilidades em ambas as camadas front-end e back-end.<br />
      Atualmente, tenho a empolgante oportunidade de contribuir para a equipe da
      Castgroup, onde estou envolvido em um projeto significativo para o Banco
      do Brasil. Trabalhar em projetos desafiadores e impactantes tem sido uma
      parte gratificante da minha carreira, e estou comprometido em agregar
      valor à equipe e ao projeto como um todo.<br />
      Tenho uma mentalidade voltada para o aprendizado contínuo, sempre buscando
      aprimorar minhas habilidades e absorver novos conhecimentos. Acredito que
      a evolução constante é crucial no campo dinâmico da tecnologia, e estou
      ansioso para enfrentar novos desafios e explorar oportunidades inovadoras
      no futuro.<br />
      Fora do ambiente de trabalho, aprecio explorar novas tecnologias,
      participar de comunidades de desenvolvedores e, claro, aprender
      constantemente coisas novas. Estou entusiasmado com o que o futuro reserva
      para minha jornada de desenvolvimento e estou dedicado a fazer
      contribuições significativas para a área.
    </p>
  </div>
</main>
